.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--input-background);
    color: var(--text-color);
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  .card-subtitle,
  .card-text {
    font-size: 0.9em;
  }

  .btn-outline-info {
    margin-top: 1em;
  }