<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Username</label>
      <input type="text" formControlName="username">
      <div *ngIf="submitted && registerForm.controls['username'].errors">
        <div *ngIf="registerForm.controls['username'].errors['required']">Username is required</div>
      </div>
    </div>

    <div>
      <label>Email</label>
      <input type="email" formControlName="email">
      <div *ngIf="submitted && registerForm.controls['email'].errors">
        <div *ngIf="registerForm.controls['email'].errors['required']">Email is required</div>
        <div *ngIf="registerForm.controls['email'].errors['email']">Email is invalid</div>
      </div>
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password">
      <div *ngIf="submitted && registerForm.controls['password'].errors">
        <div *ngIf="registerForm.controls['password'].errors['required']">Password is required</div>
        <div *ngIf="registerForm.controls['password'].errors['minlength']">Password must be at least 6 characters</div>
      </div>
    </div>

    <div>
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword">
      <div *ngIf="submitted && registerForm.controls['confirmPassword'].errors">
        <div *ngIf="registerForm.controls['confirmPassword'].errors['required']">Confirm Password is required</div>
        <div *ngIf="registerForm.controls['confirmPassword'].errors['mustMatch']">Passwords must match</div>
      </div>
    </div>

    <button type="submit">Register</button>
  </form>
  <button class="secondary-button" (click)="goToLogin()">Already have an account? Login</button>
</div>
